### Exercise Variables - 1
Create a firstName variable and assign the value Mario to it.

In [1]:
firstName = 'Mario'

### Exercise Variables - 2
Create an age variable and assign the value 25 to it.

In [2]:
age = 25

### Exercise Variables - 3
Create a sentence variable and assign the value Hello, I'm Mario! to it without using double quotes.

In [3]:
sentence = '''Hello, I'm Mario!'''

### Exercise Variables - 4
Create an amount variable and assign a float value to it.

In [4]:
amount = 1.

### Exercise Variables - 5
Create a set of 3 variables and assign True as value of each one.

In [5]:
a = True
b = True
c = True
set_abc = set((a, b, c))

### Exercise Variables - 6
Remove the illegal characters in the variable 1my-first2_Name = 'Mario'.

In [6]:
string = "1my-first2_Name = 'Mario'"

special_characters='[@_!#$%^&*()<>?/\|}{~:]'

for i in special_characters:
    string=string.replace(i,"")

In [7]:
string

"1my-first2Name = 'Mario'"

### Exercise Variables - 7
Write single quotes or double quotes correctly

In [8]:
print("Hi\nmy name is\nJohn Doe")

Hi
my name is
John Doe

In [9]:
print('python')

python

### Exercise Variables - 8
Create 3 different variables and assign 3 different values. Write only one operation. Print them on terminal

In [10]:
a = 321
b = 5
c = 2

print(a >> b >> c)

2

### Exercise Variables - 9
Swap the value of the variables

In [11]:
a = 12
b = 'Hello'
print(a, b)

temp = a
a = b 
b = temp
print(a, b)

12 Hello
Hello 12

### Exercise Variables - 10
Print the length of each variable.

In [12]:
hello = 'Hello!'
name = 'Jhon Doe'
age = '40'

print(f"Length of string variables hello, name and age are {len(hello)}, {len(name)}, {len(age)}")

Length of string variables hello, name and age are 6, 8, 2

### Exercise Variables - 11
Modify the variables as suggested

a = 'hello' #capitalize
<br>b = 'tom' #uppercase
<br>c = 'LAURA' #lowercase
<br>question = 'How are you' #change o to e
<br>age_question = 'How old are you?' #use the correct method to create a string for each word
<br>print(a, b, c, question, age_question)

In [13]:
a = 'hello'
b = 'tom'
c = 'LAURA'
question = 'How are you'
age_question = 'How old are you?'

print(a.capitalize())
print(b.upper())
print(c.lower())
print(question.replace("o", "e"))
print(age_question.split())

Hello
TOM
laura
Hew are yeu
['How', 'old', 'are', 'you?']

### Exercise Variables - 12

Create two variables called name and age. Then create a variable called hello and print the name and the age. Use the formatted string literal.

In [14]:
name = 'Mike'
age = 30
hello = "Hello, {name}. You are {age}".format(name = name, age = age)
print(hello)

Hello, Mike. You are 30

### Exercise Operators - 1
Insert the appropriate logical operator in order to print False

In [15]:
print(False and True)

False

### Exercise Operators - 2
Change the logical operators in order to print True

In [16]:
print(False or True)

True

### Exercise Operators - 3
Print the remainder of the 5/2 division

In [17]:
print(5%2)

1

### Exercise Operators - 4
Insert the appropriate logical operator in order to print True.

In [18]:
print(not ("testing" == "testing" and "Mario" == "Cool Guy")) # Should print True

True

### Exercise Operators - 5
Initialize and print the sentence variable using the appropriate operators.

In [19]:
firstName = "Mario"
lastName = "Rossi"

sentence = firstName + ' ' + lastName

print(sentence) # Should print "Mario Rossi"

Mario Rossi

### Exercise Operators - 6
Check if "Nike" is in brands array using the appropriate logical operator

In [20]:
brands = ["Adidas", "Nike"]

print("Nike" in brands) # Should print True

True

### Exercise Operators - 7
Check if "Reebok" is not in brands array using the appropriate logical operator

In [21]:
brands = ["Adidas", "Nike"]

print("Reebok" not in brands) # Should print True

True

### Exercise Methods - 1
With type command you can see the type of a variable in python eg: type(1) print each components type with this way you can see most significant data types in python

In [22]:
print(type("Hello World"))
print(type(True))
print(type(False))
print(type(33))
print(type(24.5))
print(type(4+1j))
print(type(4j))
print(type(["lion", "monkey", "dog","fish"]))
print(type(("lion", "monkey", "dog","fish")))
print(type({"name" : "John", "surname" : "Doe", "age":22}))
print(type({"lion", "monkey", "dog","fish"}))

<class 'str'>
<class 'bool'>
<class 'bool'>
<class 'int'>
<class 'float'>
<class 'complex'>
<class 'complex'>
<class 'list'>
<class 'tuple'>
<class 'dict'>
<class 'set'>

### Exercise Methods - 2
the number types can be converted to each other wit the int() float() complex() methods also float numbers can be rounded with the method round()

<br>convert num1 to float and assign to itself
<br>convert num2 to int and assign to itself
<br>convert num3 to complex and assign to itself
<br>use round method for num4 and assign to itself
<br>use round method for num5 and assign to itself
<br>print them all
<br>print their types

In [23]:
num1 = 1.3
num2 = 2.3
num3 = 1j 
num4 = 1.4 
num5 = 1.5

num1 = float(num1)
num2 = int(num2)
num3 = complex(num3)
num4 = round(num4)
num5 = round(num5)
print(f'''
num1 is {num1} and its type is {type(num1)},
num2 is {num2} and its type is {type(num2)},
num3 is {num3} and its type is {type(num3)},
num4 is {num4} and its type is {type(num4)},
num5 is {num5} and its type is {type(num5)}
''')

num1 is 1.3 and its type is <class 'float'>,
num2 is 2 and its type is <class 'int'>,
num3 is 1j and its type is <class 'complex'>,
num4 is 1 and its type is <class 'int'>,
num5 is 2 and its type is <class 'int'>

### Exercise Methods - 3
to convert a number to string we can use str() function this is called casting

<br>cast num1 to string and assign to num1_str
<br>check the length of the string
<br>get the third element of string (the one in the 3rd order)
<br>get the 3-5 elements of string (both inclusive) by string slicing
<br>check if num2 in string (cast if necessary)
<br>check if num3 in string (cast if necessary)
<br>concatenate 0 to the string from left and assign to string_with_0
<br>get the characters of string_with_0 from start to position 4 (end point exclusive)
<br>get the characters of string_with_0 from position 5 until the end
<br>use negative indexing to reach the "566" string_with_0

In [24]:
num1 = 1122334455666
num1_str = str(num1)
print(len(num1_str))
num2 = num1_str[2]
num3 = num1_str[2:5]
print(num2)
print(num3)
print(num2 in num1_str)
print(num3 in num1_str)
string_with_0 = '0' + num1_str
print(string_with_0[:5])
print(string_with_0[-4:-1])

13
2
223
True
True
01122
566

### Exercise Conditions - 1
print if num1 or num2 is greater num1 = 335 num2 = 66

In [25]:
num1 = 335
num2 = 66

if num1 > num2:
    print(f"{num1} is greater than {num2}")
else:
    print(f"{num1} is not greater than {num2}")

335 is greater than 66

### Exercise Conditions - 2
check if number1 is greater than number 2 and print number1 is greater than number2 then check and if number 2 is greater than number 1 and print number2 is greater than number1 finally at the end if both conditions incorrect print number2 equals to number1

number1 = 66 number2 = 66

In [26]:
number1 = 66
number2 = 66

if number1 > number2:
    print(f"{number1} is greater than {number2}")
elif number2 > number1:
    print(f"{number2} is greater than {number1}")    
else:
    print(f"{number1} equals to {number2}")

66 equals to 66

### Exercise Conditions - 3
Compare those 2 numbers and write X greater than Y But be sure you are making the check for all the conditions

In [27]:
import random

number1 = random.randint(1,100)
number2 = random.randint(1,100)

# Compare the numbers to eachother 

if number1 > number2:
    print(f"{number1} is greater than {number2}")
elif number2 > number1:
    print(f"{number2} is greater than {number1}")    
else:
    print(f"{number1} equals to {number2}")

92 is greater than 69

### Exercise Conditions - 4
Compare those 2 numbers' absolute values and write X's absolute value greater than Y's absolute value Use abs function to do that
eg.
abs(-5) -> 5
abs function makes all numbers positive

In [28]:
import random

number1 = random.randint(-100,100)
number2 = random.randint(-100,100)

if abs(number1) > abs(number2):
    print(f"{number1}'s absolute value greater than {number2}'s absolute value")
elif abs(number2) > abs(number1):
    print(f"{number2}'s absolute value greater than {number1}'s absolute value")    
else:
    print(f"{number1}'s absolute value is equal to {number2}'s absolute value")

94's absolute value greater than -90's absolute value