### Exercise Variables - 1
Create a firstName variable and assign the value Mario to it.

In [1]:
firstName = 'Mario'

### Exercise Variables - 2
Create an age variable and assign the value 25 to it.

In [2]:
age = 25

### Exercise Variables - 3
Create a sentence variable and assign the value Hello, I'm Mario! to it without using double quotes.

In [3]:
sentence = '''Hello, I'm Mario!'''

### Exercise Variables - 4
Create an amount variable and assign a float value to it.

In [4]:
amount = 1.

### Exercise Variables - 5
Create a set of 3 variables and assign True as value of each one.

In [5]:
a = True
b = True
c = True
set_abc = set((a, b, c))

### Exercise Variables - 6
Remove the illegal characters in the variable 1my-first2_Name = 'Mario'.

In [6]:
string = "1my-first2_Name = 'Mario'"

special_characters='[@_!#$%^&*()<>?/\|}{~:]'

for i in special_characters:
    string=string.replace(i,"")

In [7]:
string

"1my-first2Name = 'Mario'"

### Exercise Variables - 7
Write single quotes or double quotes correctly

In [8]:
print("Hi\nmy name is\nJohn Doe")

Hi
my name is
John Doe

In [9]:
print('python')

python

### Exercise Variables - 8
Create 3 different variables and assign 3 different values. Write only one operation. Print them on terminal

In [10]:
a = 321
b = 5
c = 2

print(a >> b >> c)

2

### Exercise Variables - 9
Swap the value of the variables

In [11]:
a = 12
b = 'Hello'
print(a, b)

temp = a
a = b 
b = temp
print(a, b)

12 Hello
Hello 12

### Exercise Variables - 10
Print the length of each variable.

In [12]:
hello = 'Hello!'
name = 'Jhon Doe'
age = '40'

print(f"Length of string variables hello, name and age are {len(hello)}, {len(name)}, {len(age)}")

Length of string variables hello, name and age are 6, 8, 2

### Exercise Variables - 11
Modify the variables as suggested

a = 'hello' #capitalize
<br>b = 'tom' #uppercase
<br>c = 'LAURA' #lowercase
<br>question = 'How are you' #change o to e
<br>age_question = 'How old are you?' #use the correct method to create a string for each word
<br>print(a, b, c, question, age_question)

In [13]:
a = 'hello'
b = 'tom'
c = 'LAURA'
question = 'How are you'
age_question = 'How old are you?'

print(a.capitalize())
print(b.upper())
print(c.lower())
print(question.replace("o", "e"))
print(age_question.split())

Hello
TOM
laura
Hew are yeu
['How', 'old', 'are', 'you?']

### Exercise Variables - 12

Create two variables called name and age. Then create a variable called hello and print the name and the age. Use the formatted string literal.

In [14]:
name = 'Mike'
age = 30
hello = "Hello, {name}. You are {age}".format(name = name, age = age)
print(hello)

Hello, Mike. You are 30

### Exercise Operators - 1
Insert the appropriate logical operator in order to print False

In [15]:
print(False and True)

False

### Exercise Operators - 2
Change the logical operators in order to print True

In [16]:
print(False or True)

True

### Exercise Operators - 3
Print the remainder of the 5/2 division

In [17]:
print(5%2)

1

### Exercise Operators - 4
Insert the appropriate logical operator in order to print True.

In [18]:
print(not ("testing" == "testing" and "Mario" == "Cool Guy")) # Should print True

True

### Exercise Operators - 5
Initialize and print the sentence variable using the appropriate operators.

In [19]:
firstName = "Mario"
lastName = "Rossi"

sentence = firstName + ' ' + lastName

print(sentence) # Should print "Mario Rossi"

Mario Rossi

### Exercise Operators - 6
Check if "Nike" is in brands array using the appropriate logical operator

In [20]:
brands = ["Adidas", "Nike"]

print("Nike" in brands) # Should print True

True

### Exercise Operators - 7
Check if "Reebok" is not in brands array using the appropriate logical operator

In [21]:
brands = ["Adidas", "Nike"]

print("Reebok" not in brands) # Should print True

True

### Exercise Methods - 1
With type command you can see the type of a variable in python eg: type(1) print each components type with this way you can see most significant data types in python

In [22]:
print(type("Hello World"))
print(type(True))
print(type(False))
print(type(33))
print(type(24.5))
print(type(4+1j))
print(type(4j))
print(type(["lion", "monkey", "dog","fish"]))
print(type(("lion", "monkey", "dog","fish")))
print(type({"name" : "John", "surname" : "Doe", "age":22}))
print(type({"lion", "monkey", "dog","fish"}))

<class 'str'>
<class 'bool'>
<class 'bool'>
<class 'int'>
<class 'float'>
<class 'complex'>
<class 'complex'>
<class 'list'>
<class 'tuple'>
<class 'dict'>
<class 'set'>

### Exercise Methods - 2
the number types can be converted to each other wit the int() float() complex() methods also float numbers can be rounded with the method round()

<br>convert num1 to float and assign to itself
<br>convert num2 to int and assign to itself
<br>convert num3 to complex and assign to itself
<br>use round method for num4 and assign to itself
<br>use round method for num5 and assign to itself
<br>print them all
<br>print their types

In [23]:
num1 = 1.3
num2 = 2.3
num3 = 1j 
num4 = 1.4 
num5 = 1.5

num1 = float(num1)
num2 = int(num2)
num3 = complex(num3)
num4 = round(num4)
num5 = round(num5)
print(f'''
num1 is {num1} and its type is {type(num1)},
num2 is {num2} and its type is {type(num2)},
num3 is {num3} and its type is {type(num3)},
num4 is {num4} and its type is {type(num4)},
num5 is {num5} and its type is {type(num5)}
''')

num1 is 1.3 and its type is <class 'float'>,
num2 is 2 and its type is <class 'int'>,
num3 is 1j and its type is <class 'complex'>,
num4 is 1 and its type is <class 'int'>,
num5 is 2 and its type is <class 'int'>

### Exercise Methods - 3
to convert a number to string we can use str() function this is called casting

<br>cast num1 to string and assign to num1_str
<br>check the length of the string
<br>get the third element of string (the one in the 3rd order)
<br>get the 3-5 elements of string (both inclusive) by string slicing
<br>check if num2 in string (cast if necessary)
<br>check if num3 in string (cast if necessary)
<br>concatenate 0 to the string from left and assign to string_with_0
<br>get the characters of string_with_0 from start to position 4 (end point exclusive)
<br>get the characters of string_with_0 from position 5 until the end
<br>use negative indexing to reach the "566" string_with_0

In [24]:
num1 = 1122334455666
num1_str = str(num1)
print(len(num1_str))
num2 = num1_str[2]
num3 = num1_str[2:5]
print(num2)
print(num3)
print(num2 in num1_str)
print(num3 in num1_str)
string_with_0 = '0' + num1_str
print(string_with_0[:5])
print(string_with_0[-4:-1])

13
2
223
True
True
01122
566

### Exercise Conditions - 1
print if num1 or num2 is greater num1 = 335 num2 = 66

In [25]:
num1 = 335
num2 = 66

if num1 > num2:
    print(f"{num1} is greater than {num2}")
else:
    print(f"{num1} is not greater than {num2}")

335 is greater than 66

### Exercise Conditions - 2
check if number1 is greater than number 2 and print number1 is greater than number2 then check and if number 2 is greater than number 1 and print number2 is greater than number1 finally at the end if both conditions incorrect print number2 equals to number1

number1 = 66 number2 = 66

In [26]:
number1 = 66
number2 = 66

if number1 > number2:
    print(f"{number1} is greater than {number2}")
elif number2 > number1:
    print(f"{number2} is greater than {number1}")    
else:
    print(f"{number1} equals to {number2}")

66 equals to 66

### Exercise Conditions - 3
Compare those 2 numbers and write X greater than Y But be sure you are making the check for all the conditions

In [27]:
import random

number1 = random.randint(1,100)
number2 = random.randint(1,100)

# Compare the numbers to eachother 

if number1 > number2:
    print(f"{number1} is greater than {number2}")
elif number2 > number1:
    print(f"{number2} is greater than {number1}")    
else:
    print(f"{number1} equals to {number2}")

3 equals to 3

### Exercise Conditions - 4
Compare those 2 numbers' absolute values and write X's absolute value greater than Y's absolute value Use abs function to do that
eg.
abs(-5) -> 5
abs function makes all numbers positive

In [28]:
import random

number1 = random.randint(-100,100)
number2 = random.randint(-100,100)

if abs(number1) > abs(number2):
    print(f"{number1}'s absolute value greater than {number2}'s absolute value")
elif abs(number2) > abs(number1):
    print(f"{number2}'s absolute value greater than {number1}'s absolute value")    
else:
    print(f"{number1}'s absolute value is equal to {number2}'s absolute value")

-82's absolute value greater than 38's absolute value

### Iterators - Exercise 1 üêç

create 

<br>\*
<br>\*\*
<br>\*\*\*
<br>\*\*\*\*
<br>\*\*\*\*\*

this shape with print and while loop statemets

In [29]:
i = 1 
while i <6:
    print("*"*i)
    i = i + 1

*
**
***
****
*****

### Iterators - Exercise 2 üêç

create 

<br>\*
<br>\*\*\*
<br>\*\*\*\*\*

this shape with print, for loop, if and continue statements

In [30]:
for i in range(1,6):
    if i%2==0:
        continue
    else:
        print("*"*i)

*
***
*****

### Iterators - Exercise 3 üêç

<br>check if it is time for `coffee break` if it is just break 
<br>to do that lets iterate through given list don't change the `COFFEE BREAK` statement
<br>just find another way to do it

In [31]:
todo = ["exercise1", "exercise2", "exercise3","coffee break" ,"exercise4","exercise5","exercise6"]
for x in todo:
    if x.upper() == "COFFEE BREAK":
        print(x)
        break

coffee break

### Iterators - Exercise 4 üêç


<br>iterate each elements of `list1`,`tuple1`,`set1` and print them out 

<br>for the `dict1` iterate all elements but only print the ones who are living on land
<br>in the form of `x lives in y`

In [32]:
list1 = ["lion", "monkey", "dog","fish"]
tuple1 = ("lion", "monkey", "dog","fish")
set1 = {"lion", "monkey", "dog","fish"}
dict1 = {"lion":"land", "monkey":"land", "dog":"land","fish":"water"}

for i in list1:
    print(i)
    
for i in tuple1:
    print(i)
    
for i in set1:
    print(i)

for animal, place in dict1.items():
    if place == 'land':
        print(f'{animal} lives in {place}')

lion
monkey
dog
fish
lion
monkey
dog
fish
monkey
lion
dog
fish
lion lives in land
monkey lives in land
dog lives in land

### Data Structures üêç

Remember `list`,`set`,`dictionary` are mutable and `tuple` is immutable
`list`,`tuple` elements can be reached by index  
for `dictionary` it is not an option to reach by index the element key has to be known to reach  
and for `set` the items cannot be reached directly but it is possible to iterate.

1. print the lengths of `list1`,`tuple1`,`set1`,`dict1`
2. print the first element of `list1` and `tuple1`
3. print the value of `lion` key of `dict1`
4. change the 2nd position element of `list1` to "rabbit"
5. try to change the 2nd position element of the tuple to "rabbit" and explain what happened.
6. add "monkey" to `list1`
7. remove "rabbit" from `list1`
8. in `dict1` the number of feet is written as value to each animal the fixh has wrong value just fix it.

In [33]:

list1 = ["lion", "monkey", "dog","fish"]
tuple1 = ("lion", "monkey", "dog","fish")
set1 = {"lion", "monkey", "dog","fish"}
dict1 = {"lion":4, "monkey":2, "dog":4,"fish":2}

#1
print(f'list1 has {len(list1)} elements.')
print(f'tuple1 has {len(tuple1)} elements.')
print(f'set1 has {len(set1)} elements.')
print(f'dict1 has {len(dict1)} elements.')

#2
print(f"list1's and tuple1's first elements are respectively {list1[0]} and {tuple1[0]}")

#3
print(f"The value of `lion` key of 'dict1' is {dict1['lion']}")

#4
list1[1] = 'rabbit'

#5
print("Tuples are immutable.")

tuple1[1] = 'rabbit'

list1 has 4 elements.
tuple1 has 4 elements.
set1 has 4 elements.
dict1 has 4 elements.
list1's and tuple1's first elements are respectively lion and lion
The value of `lion` key of 'dict1' is 4
Tuples are immutable.

TypeError: 'tuple' object does not support item assignment

In [34]:
#6
list1.append("monkey")
print(list1)

#7
# this only removes the first element
list1.remove('rabbit')
print(list1)

#8
dict1['fish'] = 0
print(dict1)

['lion', 'rabbit', 'dog', 'fish', 'monkey']
['lion', 'dog', 'fish', 'monkey']
{'lion': 4, 'monkey': 2, 'dog': 4, 'fish': 0}

### Functions - Exercise 1 üêç

to create functions in python we start with `def` word and after it the `name of function` comes with without parameters  
example is here 
```
def hello():
    print("hello")
```

Now you create a function named goodbye without parameters which prints good bye

In [35]:
def goodbye():
    print('goodbye')
    
goodbye()

goodbye

### Functions - Exercise 2 üêç

inside the paranthesis variables can be used those variables as known as parameters of the function provides control inside the function
example is here 
```
def hello(name):
    print(f"hello {name}")
```

Now you create a function named goodbye with a parameter `name` and say "Good bye Adam"

In [36]:
def goodbye(name):
    print(f"Good bye {name}")

goodbye('Adam')

Good bye Adam

### Functions - Exercise 3 üêç

lets see what is your user name on your computer   
to do that we are going to use os molude which is a built in module in python    
and has many built in functions in it 

to be able to use os fucntions   
`import os`
then call `getlogin` method of the module   
then assign the output to `user` varialbe and print the user

In [37]:
import os
user = os.getlogin()
print(user)

alioz

### Functions - Exercise 4 üêç

Now create a fuction for John Doe and his family that greets every one in the family.   
Since it will  usually John Doe the name and surname parameter must be defaulted   
and when someone else comes it has to greet the new comer with name surname parameters which were overwritten. 
Make it possible.  
The function have to print `"Hello John Doe"` where John and Doe is parametric   
Greet each our John first then the people in the list with for loop and the function   
What you have to use
- for loop 
- function 
- string operation 
- list index

Output format 
```
Hello John Doe!
Hello Tristram Mcbride!
Hello Baldwin Preston!
Hello Wally Collins!
```

In [38]:
def greet_fam(name = 'John', surname = 'Doe'):
    family = [name + ' ' + surname] + ['Tristram Mcbride', 'Baldwin Preston', 'Wally Collins']
    for i in range(len(family)):
        print(f'Hello {family.pop(0)}')
        
greet_fam()

Hello John Doe
Hello Tristram Mcbride
Hello Baldwin Preston
Hello Wally Collins

### Functions - Exercise 5 üêç

import random function   
create a function `random_list_summer` creates n elemented list 
with   
min value = -100   
max value = 100
it has to print the list first and sum all the elements of it   
default element number is 15   
Don't forget to call the function  
for some features and functions you might have to search on the internet do it don't lose your courage :)

In [39]:
import random
def random_list_summer(n = 15):
    rnd_list = []
    for i in range(n):
        rnd_list.append(random.randint(-100,100))
    print(f'''The list is {rnd_list}, 
    sum of all elements is {sum(rnd_list)}''')
    
random_list_summer()

The list is [-83, -14, -25, -54, -38, -71, -95, -58, 35, -49, -51, 33, -8, -99, -67],
    sum of all elements is -644

### Functions - Exercise 6 üêç

Implement [Fibonacci](https://en.wikipedia.org/wiki/Fibonacci_number) sequence as recursive function
and print first 5 elements.


ps:  
use list comprehension while creating the list
minimum element is 0 in this series

In [40]:
def fibonacci(n = 5):
    # base case
    
    if n <= 2:
        return [] if n <= 0 else [0] * (n == 1) + [0, 1] * (n == 2)
    else:
        # recursive case
        prev_fib = fibonacci(n - 1)
        return prev_fib + [prev_fib[-1] + prev_fib[-2]]

fibonacci()

[0, 1, 1, 2, 3]

### Functions - Exercise 7 üêç

Create a lambda function that returns 2nd power of given number if its even   
and run it on the given list   
then print the result to the screen

In [41]:
my_list= [*range(5)] 
result = map(lambda x: x**2 if x % 2 == 0 else None, my_list)
for value in result:
    if value is not None:
        print(value)

0
4
16

### Classes and Objects - Exercise 1 üêç

Let's create Animal class and then create the 
animal object that runs and having 4 legs

create animal object with leg count 
when created print |
`"Animal object was created"`
and then call `runs` method of it and it prints 
`"Running started"`

In [42]:
class animal:
    def __init__(self, leg_counts):
        self.leg_counts = leg_counts
        print( "Animal object was created")

    def runs(self):
        print("Running started")

In [43]:
a1 = animal(4)

Animal object was created

In [44]:
a1.runs()

Running started

### Classes and Objects - Exercise 2 üêç

Now continue with the Animal class we had used before 

Add a method to count the legs `count_legs`
which prints the number of legs 

Add a method to count the legs `return_legs`
which returns the number of legs 

print number of legs directly from  `number_of_legs` 
variable of the object

In [45]:

class Animal:
    def __init__(self,legs_count):
        print("Animal object was created")
        self.number_of_legs = legs_count

    def runs(self):
        print("Running started")

    def count_legs(self):
        print(f"It has {self.number_of_legs}")
        
    def return_legs(self):
        return self.number_of_legs


animal = Animal(3)
animal.count_legs()

Animal object was created
It has 3

### Classes and Objects - Exercise 3 üêç

Again let's keep talking on Animal class we have.  
with 3 methods we just reached the number of legs   
to prevent direct interactin with the class variables   
most of the other programming languages have encapsulation.  
But in python we don't have it 
instead we use `_` prefix for it as convention   
it is also same for the methods   
  
`_legs` this shows us not to touch this variable its up to you 
if you want to change it you can but `_`asks you politely not to do it. 

Change the `number_of_legs` to conventional private variable 
and call from another method

In [46]:

class Animal:
    def __init__(self,legs_count):
        print("Animal object was created")
        self.__number_of_legs = legs_count

    def runs(self):
        print("Running started")

    def count_legs(self):
        print(f"It has {self.__number_of_legs}")

    def return_legs(self):
        return self.number_of_legs

animal= Animal(4)
animal.count_legs()
print(animal.return_legs())
print(animal.number_of_legs)

Animal object was created
It has 4

AttributeError: 'Animal' object has no attribute 'number_of_legs'

### Classes and Objects - Exercise 4 üêç

Let's inherit Dog class from Animal 
<br>add name(private) attribute to Dog class 
<br>and then bark method to print `woof woof`

<br>print name_of_dog 
<br>make it bark
<br>count the legs

In [47]:

class Animal:
    def __init__(self,legs_count):
        print("Animal object was created")
        self._number_of_legs = legs_count

    def runs(self):
        print("Running started")

    def count_legs(self):
        print(f"It has {self._number_of_legs}")

    def return_legs(self):
        return self._number_of_legs
    
class Dog(Animal):
    def __init__(self, legs_count, name):
        super().__init__(legs_count)
        self.__name = name


        
    def bark(self):
        print('woof woof')
        
    def print_name(self):
        print('My name is, ' + self.__name + ' woof!')

        
    
        
animal= Animal(4)
animal.count_legs()
print(animal.return_legs())
print(animal._number_of_legs)

dog_obj = Dog(4, 'Diego')
dog_obj.bark()
dog_obj.print_name()
dog_obj.count_legs()

Animal object was created
It has 4
4
4
Animal object was created
woof woof
My name is, Diego woof!
It has 4